*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #3D0000;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1{
    color: #ffffff;
}
