/* 
1: #C3BA85 - darkest
2: #DAD5AB - lower darkest
3: #F0F0CB - lower lightest
4: #FEFFE2 - lightest
*/
body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome-text{
    padding: 70px;
    margin: 90px 0 0 0;
    width: 50%;
    transform: perspective(1000px) rotateY(20deg) scale(0.9) rotateX(5deg);
    transition: 0.5s ease-in;
}

.welcome-text:hover{
    padding: 70px;
    margin: 90px 0 0 0;
    width: 50%;
    transform: perspective(800px) rotateY(0deg) scale(1) rotateX(0deg);
}

.welcome-text .welcome-text-title{
    color: #FEFFE2;
    font-size: 25px;
    padding-bottom: 10px;
}

.welcome-text .welcome-text-description{
    color: #FEFFE2;
    font-size: 15px;
    padding: 25px;
    line-height: 1.2;
    border: 2px solid #C3BA85;
    border-radius: 50% 20% / 10% 25%;
    backdrop-filter: blur(5px);
}
